{
  auto_https disable_redirects
}

https://whatsapp-group-analytics.luqmarqs.dev {
  @api path /api/*
  handle @api {
    uri strip_prefix /api
    reverse_proxy api:3001
  }

  handle {
    reverse_proxy web:80
  }

  encode gzip
}

http://whatsapp-group-analytics.luqmarqs.dev {
  redir https://whatsapp-group-analytics.luqmarqs.dev{uri} permanent
}
